# LaTeX intermediate and output files
*.kaux
*.diagnose
*.aux
*.bbl
*.blg
*.brf
*.idx
*.ilg
*.ind
*.lof
*.log
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.fdb_latexmk
*.synctex.gz
*.synctex(busy)
*.nav
*.snm
*.vrb
*.xdv
*.pdf
*.dvi
*.ps
*.eps
*.synctex.gz
*.run.xml
*.bcf
*.blx.bib

!bob-alice.pdf

# Mac OS specific files
.DS_Store

# Backup files
*~
*.bak
*.swp
*.tmp
*.backup

# TeXShop specific
*.texpadtmp

# Overleaf
output/

# Ignore main (conflicted) files
main (conflicted)*
